<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/mvc
 		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context-3.0.xsd
 		http://www.springframework.org/schema/security
 		http://www.springframework.org/schema/security/spring-security-3.0.4.xsd
 		http://www.springframework.org/schema/tx 
  		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
  		http://www.springframework.org/schema/task
   		http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<mvc:annotation-driven />
	<task:annotation-driven />


	<mvc:resources location="/styles/" mapping="/styles/**" />
	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/scripts/" mapping="/scripts/**" />
	<mvc:resources location="/fonts/" mapping="/fonts/**" />

	<context:property-placeholder location="file:${catalina.home}/conf/connection.properties" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
		<property name="attributes">
			<map>
				<!-- Obviously this can be changed to read from properties file -->
				<entry key="developmentMode" value="${uniiv.development}" />
			</map>
		</property>
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="relay-hosting.secureserver.net" />
		<property name="port" value="465" />
		<property name="username" value="contact@uniiv.com" />
		<property name="password" value="pr9pHuyeheVabRamaCEc " />

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="ca.bendo" />

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.globally_quoted_identifiers">true</prop>
			</props>

		</property>
	</bean>

	<bean id="localeResolver" class="ca.bendo.filters.FilterLocaleResolver" />

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Invokes Spring MVC @Controller methods -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="webBindingInitializer">
			<!-- Configures Spring MVC DataBinder instances -->
			<bean class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
				<property name="validator" ref="validator" />
			</bean>
		</property>
	</bean>

	<!-- Creates the JSR-303 Validator -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="messageInterpolator">
			<bean class="ca.bendo.form.TranslateMessageInterpolator" />
		</property>
	</bean>

	<mvc:interceptors>
		<bean class="ca.bendo.controller.interceptor.LoginInterceptor" />
		<bean class="ca.bendo.controller.interceptor.TitleInterceptor" />
	</mvc:interceptors>


	<context:component-scan base-package="ca.bendo" />

	<bean id="FilterDispatcher" class="ca.bendo.filters.FilterDispatcher" />

	<!-- Enable Json conversion -->
	<bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />


	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager" />
</beans>