div.dropdown_content {
	display: none;
}

div.lang_menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px
}

div.lang_menu a.dropdown_button {
	color: #ffffff;
	background: url(../images/menu/lang_button.png) no-repeat;
	font-weight: bold;
	font-size: 12px;
	font-family: verdana;
	text-decoration: none;
	display: block;
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

div.lang_menu a.dropdown_button:hover {
	background-position: 0px -25px;
}

div.lang_menu ul li.sublink a {
	color: #000000;
	background: #CCC;
	border-bottom: 1px solid #cccccc;
	font-weight: normal;
	text-decoration: none;
	display: block;
	width: 100px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 2px;
}

div.lang_menu div.box_text {
	margin: auto;
	height: 25px;
	line-height: 25px;
}

div.lang_menu ul li.sublink a:hover {
	color: #000000;
	background: #FFEFC6;
	font-weight: normal;
	text-decoration: none;
	display: block;
	width: 100px;
	text-align: center;
}

div.lang_menu ul.sublinks { /* 	display:none; */
	
}

/* CSS For Dropdown Menu End */
.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}