@charset "utf-8";

/*-----------------------------

	For ALL types 

-------------------------------*/
* {
	margin: 0; 
	/* padding: 0;  */
	font-weight: 200;
	color: #4F4D4D;
	/* list-style: none;  */
	/* text-decoration: none; */
	overflow: visible;
	font-family: Helvetica;
}

a
{
	text-decoration: none;
}

html,body {
	background-color: #EDF1F5;
	/* 	background-image:url("../images/background/bg.jpg"); */
	margin: 0;
	width: 100%;
	height: 100%;
	min-width: 980px;
}

.hidden {
	display: none;
}

#container {
	min-height: 100%;
	position:relative;
}

#content {
	margin: auto;
	padding-top: 60px;
	padding-bottom: 40px;
	overflow-y: auto;
}

#content.content_margin
{
	overflow-x:hidden;
	width: 980px;
}

.front-image {
	position: absolute;
	border: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

b {
	font-weight: bold;
}

h1, h1 span {
	font-size: 20px;
	font-weight:500;
}

/*General submit button style*/
.submit {
	/* 	background-image: -webkit-linear-gradient(top, #8ADD6D, #60B044); GREEN*/
	/* 	border: 1px solid #5CA941; GREEN*/
	background: #3259ab; /* Old browsers */
	background: -moz-linear-gradient( top, #3259ab 0%, #4e74c7 100%); /* FF3.6+ */
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #3259ab), color-stop( 100%, #4e74c7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient( top, #3259ab 0%, #4e74c7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient( top, #3259ab 0%, #4e74c7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient( top, #3259ab 0%, #4e74c7 100%); /* IE10+ */
	background: linear-gradient( to bottom, #3259ab 0%, #4e74c7 100%); /* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr = '#3259ab', endColorstr = '#4e74c7', GradientType = 0); /* IE6-9 */
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block; 
	font-family:Helvetica; 
	font-size: 12px; 
	font-weight: lighter; 
	height: 25px;
	/* 	line-height: 20px; if it looks fucked uncomment me */
	margin: 0;
	position: relative;
	text-align: center;
	/* 	text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px; */
	/* 	vertical-align: middle; */
	width: auto;
}

.submit:hover {
	/* 	background-image: -webkit-linear-gradient(top, #7FCC64, #579E3E); GREEN*/
	background-image: -webkit-linear-gradient(top, #2C4E96, #4566B0);
}

.submit:active {
	/* 	background-image: -webkit-linear-gradient(top, #72BA59, #4E8F38); GREEN*/
	background-image: -webkit-linear-gradient(top, #274687, #4566B0);
}

/*-----------------------------

	      LOGO

-------------------------------*/
.logo_container {
	background-color: transparent;
	height: auto;
	position: relative;
	margin: auto;
	width: 550px;
}

.logo {
	background-color: transparent;
	height: 210px;
	margin-left: 0px;
	position: relative;
	margin-top: 0px;
	width: 550px;
}

.logo:hover {
	cursor: pointer;
}

/*-------------------------------

		Navigation
		
---------------------------------*/
.navLogo {
	display: inline-block;
	height: 25px;
	width: 25px;
}

.headerNav {
	background-color: #E8E8E8;
	border-bottom: 1px solid #DBDBDB;
	height: 25px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	min-width: 980px;
	z-index: 1;
}

.headerNav ul li,.headerNav ul li a:link,.headerNav ul li a:visited {
	display: inline;
	text-decoration: none;
}

#navLfLinks {
	display: inline-block;
	height: 25px;
	position: relative;
	margin-left: 20px;
	vertical-align: middle;
	position: relative;
}

#navLogo {
	display: inline-block;
	line-height: 20px;
	margin-left: 15px;
	position: relative;
	top: 4px;
}

#navLfLinks a {
	color: #444444;
	text-decoration: none;
	width: 100%;
}

#navLfLinks a:hover {
	color:#204AA1;
}

.navRightBtns {
	display: inline-block;
	position: relative;
	margin-top: 0px;
	height: 20px;
	line-height: 20px;
	padding-top: 0px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
	width: auto;
}

/*-------------------------------

	   PAGE FOOTER 

---------------------------------*/
.footer_frame {
	border-top: 1px solid #DBDBDB;
	text-align: center;
	height: auto;
	left: 0;
	min-width: 980px;
	width: 100%;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(#ffffff, #f9f9f9);
	background-image: -webkit-linear-gradient(#ffffff, #f9f9f9);
	background-image: linear-gradient(#ffffff, #f9f9f9)
}

.footer_frame a:link,.footer_content a:visited {
	text-decoration: none;
	color: #4F4D4D;
	font-size: 12px;
	font-weight: normal;
	font-family: Helvetica;
}

.footer_frame a:hover {
	text-decoration: underline;
}

.footer_content
{
	font-weight: lighter;
}

.footer_spacer {
	display: inline-block;
	width: 5px;
}


.nav_spacer {
	display: inline-block;
	width: 5px;
}

.nav_login_text
{
	position: relative;
	font-size: 14;
	font-weight: lighter;
}

.nav_logout_text
{
	position: relative;
	font-size: 14;
	font-weight: lighter;
}

.nav_signup_text
{
	position: relative;
	font-size: 14;
	font-weight: lighter;
}

.nav_left_side
{
	display: inline-block;
	position: relative;
}

.nav_middle
{
	display: inline-block;
	position: relative;
	top: -5px;
}

.nav_right_side
{
	display: inline-block;
	position: relative;
	text-align: right;
	float: right;
}

.nav_frame
{
	position: fixed;
	display: block;
	width: 100%;
	top: 0;
	height: 35px;
	border-bottom: 1px solid;
	border-color: #dbdbdb;
	z-index: 999;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(#f9f9f9, #ffffff);
	background-image: -webkit-linear-gradient(#f9f9f9, #ffffff);
	background-image: linear-gradient(#f9f9f9, #ffffff)
}

.nav_in_margin_frame
{
	width: 980px;
	height: 35px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 6px;
}

.nav_logo
{
	position: relative;
	display: inline-block;
	height: 25px;
	width: 25px;
}

.nav_logo_frame
{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	top: -1px;
}

.nav_links
{
	position: relative;
	font-size: 14;
	font-weight: lighter;
}

.btn_log_in_text:hover {
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background-color: #000000;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6),
		color-stop(100%, #ffffff) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e6e6e6 0%, #ffffff 100%);
	/* W3C */
}

.btn_log_in_text:active {
	
}

/*-----------------------------

	terms and conditions 

-------------------------------*/
#container_terms {
	background-color: #FFF;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	font-size: 13px;
	height: 470px;
	line-height: 18px;
	margin: auto;
	overflow: scroll;
	padding: 10px 15px 10px 15px;
	position: relative;
	text-align: justify;
	word-spacing: 0.3em;
}

#container_terms h1 {
	width: 100%;
	font-size: 25px;
	top: 40px;
	font-weight: bold;
	border-bottom: 1px dotted;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*--- TEST POPUP SIGN UP ------*/
#lean_overlay {
	position: fixed;
	z-index: 10000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}


/*--------------------

Button Sign UP Form

---------------------*/
div.btn_sign_up_form {
	width: 150px;
	margin: auto;
}

div.btn_sign_up_form input {
	display: inline-block;
	position: relative;
	top: 0px;
	right: 10px;
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background: #f081ad; /* Old browsers */
	background: -moz-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f081ad),
		color-stop(100%, #e91760) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #f081ad 0%, #e91760 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   
		                                        startColorstr='#f081ad',
		endColorstr='#e91760', GradientType=0 );
	/* IE6-9 */
	border-bottom-color: #B61149;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #B61149;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #B61149;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #B61149;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: thin;
	height: 40px;
	line-height: 18px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	text-align: center;
	text-decoration: none;
	word-spacing: 2px;
}

.btn_sign_up_text_form:hover {
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background-color: rgba(0, 0, 0, 0);
	background: #e91760; /* Old browsers */
	background: -moz-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e91760),
		color-stop(100%, #f081ad) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e91760 0%, #f081ad 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   
		                                        startColorstr='#e91760',
		endColorstr='#f081ad', GradientType=0 );
	/* IE6-9 */
}

.btn_sign_up_text_form:active {
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background-color: rgba(0, 0, 0, 0);
	background: #e91760; /* Old browsers */
	background: -moz-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e91760),
		color-stop(100%, #f081ad) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e91760 0%, #f081ad 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   
		                                        startColorstr='#e91760',
		endColorstr='#f081ad', GradientType=0 );
	/* IE6-9 */
}

/*---------------------------

	SIGN UP FOOTER

-----------------------------*/
.signup_footer {
	padding-left: 10px;
	height: 50px;
	width: 250px;
	position: relative;
	float: left;
	display: inline-block;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.signup_footer a {
	text-decoration: underline;
	background-color: #FFFFFF;
}


/**********************************************************************
							TO DO 
**********************************************************************/
.top_filter_heading {
	position: relative;
	margin-bottom: 40px;
	width: 100%;
}

#FilterStep1 { /* 	float: left; */
	
}

#FilterStep2 {
	float: right;
	padding-left: 25px;
	border-left: 1px solid #E5E5E5;
}

/*bouton quand on click sur les hard criteria*/
.FilterCategories {
	float: left;
	margin-top: 20px;
	width: 450px;
}

.FilterCategoriesButton {
	margin-bottom: 30px;
}

.FilterCategoryButton {
	background-color: #EDF1F5;
	border: none;
	display: inline-block;
	height: 100px;
	margin: 10px 30px 10px 30px;
	width: auto;
}

.right_side_container {
	display: inline-block;
	float: right;
}

.FilterCategoryButton:hover {
	cursor: pointer;
}

.SelectListElementLine {
	width: 100%;
}

.fees_content {
	margin: 20px 20px 20px 20px;
}

.fees_input {
	width: 50px;
}

#general-fees-range {
	margin-top: 10px;
}

.FilterElement {
	display: inline-block;
	font-size: 12px;
	height: 12px;
	margin: auto;
	vertical-align: center;
	width: 130px;
}

.FilterElementButton {
	height: 100%;
	text-align: left;
	width: 100%;
}

.FilterElementButton:hover>span {
	cursor: pointer;
	text-decoration: underline;
	color: #204AA1;
}

.FilterElementButton.selected>span {
	font-weight: 700;
	color: #204AA1;
}

.FilterSubElementBox {
	background-color: white;
	padding: 10px 20px 10px 20px;
	box-shadow: inset 0 4px 4px -4px #696868, inset 0 -4px 4px -4px #696868;
}

.FilterSystem {
	margin-bottom: 50px;
	margin-top: 20px;
	height: auto;
	position: relative;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

h2.step {
	font-size: 18px;
	font-weight: bold;
}

.filter_icon_title {
	margin-top: 10px;
	text-align: center;
}

.SoftRatingElement {
	margin-bottom: 14px;
	width: 100%;
}

.FilterCategoryButtonImage {
	width: 80px;
	height: 80px;
	margin: auto;
}

.SoftFilterCategory {
	float: right;
	margin-top: 20px;
	width: 500px;
}

.SoftRatingOption:hover,.clearOption:hover,.FilterCategoryButtonImage:hover
	{
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity =       70);
}

.SoftRatingOption:active,.clearOption:active {
	opacity: 0.9
}

.clearOption,.SoftRatingOption {
	border: transparent solid 3px;
}

.clearOption.optionSelected,ul.factRatings .SoftRatingOption.optionSelected
	{
	border: 3px solid #E91760;
	-moz-border: 3px solid #E91760;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
}

ul.userRatings .SoftRatingOption.optionSelected {
	-moz-border-bottom-color: #E91760;
	border-bottom-color: #E91760;
	-moz-border-bottom-left-radius: 35px;
	border-bottom-left-radius: 35px;
	-moz-border-bottom-right-radius: 35px;
	border-bottom-right-radius: 35px;
	border-bottom-style: solid;
	-moz-border-bottom-style: solid;
	border-bottom-width: 3px;
	-moz-border-bottom-width: 3px;
	border-left-color: #E91760;
	-moz-border-left-color: #E91760;
	border-left-style: solid;
	-moz-border-left-style: solid;
	border-left-width: 3px;
	-moz-border-left-width: 3px;
	border-right-color: #E91760;
	-moz-border-right-color: #E91760;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-color: #E91760;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-top-style: solid;
	border-top-width: 3px;
}

.SoftRatingName,.SoftRatingDefaultOption,.SoftRatingOptions,.SoftRatingOption
	{
	display: inline-block;
	opacity: 1;
	filter: alpha(opacity =                             100);
}

.SoftRatingOptions {
	height: 46px;
	line-height: 46px;
	vertical-align: middle;
	width: 300px;
}

.SoftRatingOptions_container {
	display: inline-block;
	line-height: 46px;
	vertical-align: middle;
	width: auto;
}

.SoftRatingName {
	line-height: 46px;
	vertical-align: middle;
	width: 200px
}

.SoftRatingDefaultOption {
	line-height: 46px;
	vertical-align: middle;
}

ul.softratings {
	background-color: #EDF1F5;
	width: 600px;
}

hr.official-standard-ratings-separation {
	border: 1px solid #E5E5E5;
	margin-top: 15px;
	margin-bottom: 15px;
}

.FilterCategoriesContent {
	background-color: #EDF1F5;
	overflow: hidden;
	height: auto;
	margin-bottom: 20px;
	width: auto;
}

.FilterCategoryContentToggleDisplayContent.hidden {
	background-color: #FFF;
}

.FilterCategoryContent {
	height: auto;
	margin: 10px 0 10px 0;
	width: auto;
}

.SelectListElementLine {
	margin: 0 20px 0 20px;
}

.submitFilter {
	background-color: #FFFFFF;
	display: block;
	margin-bottom: 50px;
	position: relative;
	width: 300px;
	margin: auto;
	margin-top: 100px;
}

.submitFilter_text {
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background: #3259ab; /* Old browsers */
	background: -moz-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3259ab),
		color-stop(100%, #4a68a8) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #3259ab 0%, #4a68a8 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   
		                                        startColorstr='#3259ab',
		endColorstr='#4a68a8', GradientType=0 );
	/* IE6-9 */
	background-image: -moz-linear-gradient(0deg, #3259AB, #4A68A8 50%);
	-moz-border-bottom-color: #204AA1;
	border-bottom-color: #204AA1;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	-moz-border-bottom-style: solid;
	border-bottom-width: 1px;
	-moz-border-bottom-width: 1px;
	border-left-color: #204AA1;
	-moz-border-left-color: #204AA1;
	border-left-style: solid;
	-moz-border-left-style: solid;
	border-left-width: 1px;
	-moz-border-left-width: 1px;
	border-right-color: #204AA1;
	-moz-border-right-color: #204AA1;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #204AA1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: thin;
	height: 30px;
	padding-bottom: 5px;
	padding-top: 12px;
	text-align: center;
	text-decoration: none;
	width: 100%;
	word-spacing: 2px;
}

.submitFilter_text:hover {
	background: #4a68a8; /* Old browsers */
	background: -moz-linear-gradient(top, #4a68a8 0%, #3259ab 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a68a8),
		color-stop(100%, #3259ab) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4a68a8 0%, #3259ab 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4a68a8 0%, #3259ab 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4a68a8 0%, #3259ab 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #4a68a8 0%, #3259ab 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   
		                                        startColorstr='#4a68a8',
		endColorstr='#3259ab', GradientType=0 );
	/* IE6-9 */
}

.submitFilter_text:active {
	background: #3259ab; /* Old browsers */
	background: -moz-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3259ab),
		color-stop(100%, #4a68a8) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #3259ab 0%, #4a68a8 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   
		                                        startColorstr='#3259ab',
		endColorstr='#4a68a8', GradientType=0 );
	/* IE6-9 */
}
/**************************************

  			NEW UNI PAGE
  			pls go

***************************************/
	/* ########################################## */
	/* TOP BOX SECTION */
	/* ########################################## */
	.university_profile_top_box
	{
		position: relative;
		top: 6px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 150px;
		border-radius: 5px;
		border: 1px solid;
		border-color: #E5E5E5;
		background-color: #ffffff;
	}
	.university_profile_image_box
	{
		position: absolute;
		left: 0px;
		height: 150px;
		width: 300px;
	}
	.university_profile_image
	{
		width: 300px;
		height: 150px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	.university_profile_top_text_box
	{
		position: relative;
		left:310px; /* must be the same width as picture + 10 */
		height: 100%;
	}
	.university_profile_top_text_name
	{
		font-size: 35px;
		font-weight: lighter;
		position: relative;
		top: 0px;
	}
	.university_profile_top_text_location
	{
		font-size: 20px;
		font-weight: lighter;
	}
	.university_profile_top_lower_text
	{
		text-align: left;
		position: absolute;
		left: 0px;
		bottom: 5px;
	}
	.university_profile_top_text_est
	{
		font-size: 14px;
		font-weight: lighter;
	}
	/* ########################################## */
	/* BOX SECTION */
	/* ########################################## */
	.university_profile_box_spacer
	{
		height: 15px;
	}
	.university_profile_box_spacer_top
	{
		height: 21px;
	}
	.university_profile_box_title
	{
		text-align: center;
		font-size: 32px;
		font-weight: lighter;
	}
	/* ########################################## */
	/* RANK SECTION */
	/* ########################################## */
	.university_profile_rank_box
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-bottom: 20px;
		border-radius: 5px;
		border: 1px solid;
		border-color: #E5E5E5;
		background-color: #ffffff;
		text-align: center;
	}
	.university_profile_rank_element
	{
		display: inline-block;
		position: relative;
		top: 15px;
		width: 100px;
	}
	.university_profile_rank_element_icon
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 75px;
		height: 75px;
	}
	.university_profile_rank_element_rank
	{
		text-align: center;
		font-size: 20px;
		font-weight: lighter;
	}
	.university_profile_rank_element_date
	{
		text-align: center;
		font-size: 12px;
		font-weight: lighter;
	}
	/* ########################################## */
	/* STUDENT STATISTICS SECTION */
	/* ########################################## */
		.university_profile_student_stats_box
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-bottom: 20px;
		border-radius: 5px;
		border: 1px solid;
		border-color: #E5E5E5;
		background-color: #ffffff;
		text-align: center;
	}
	.university_profile_student_stats_element
	{
		display: inline-block;
		position: relative;
		top: 15px;
		width: 100px;
	}
	.university_profile_student_stats_element_icon
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 75px;
		height: 75px;
	}
	.university_profile_student_stats_element_stat
	{
		text-align: center;
		font-size: 20px;
		font-weight: lighter;
	}
	.university_profile_student_stats_element_name
	{
		text-align: center;
		font-size: 12px;
		font-weight: lighter;
	}
	/* ########################################## */
	/* REPUTATION SECTION */
	/* ########################################## */
	.university_profile_reputation_box
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-bottom: 20px;
		border-radius: 5px;
		border: 1px solid;
		border-color: #E5E5E5;
		background-color: #ffffff;
		text-align: center;
	}
	.university_profile_reputation_element
	{
		display: inline-block;
		position: relative;
		top: 15px;
		width: 100px;
	}
	.university_profile_reputation_element_icon
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 75px;
		height: 75px;
	}
	.university_profile_reputation_element_name
	{
		text-align: center;
		font-size: 12px;
		font-weight: lighter;
	}
	/* ########################################## */
	/* RELEVANT WIKI SECTION */
	/* ########################################## */
	.university_profile_relevant_wiki_box
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-bottom: 20px;
		border-radius: 5px;
		border: 1px solid;
		border-color: #E5E5E5;
		background-color: #ffffff;
		text-align: left;
	}
	.university_profile_relevant_wiki_element
	{
		display: inline-block;
		position: relative;
		top: 15px;
		width: 45%;
		padding-left: 10px;
		text-align: left;
		font-size: 12px;
		font-weight: lighter;
	}
	/* ########################################## */
	/* CONTACT SECTION */
	/* ########################################## */
	.university_profile_contact_box
	{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-bottom: 20px;
		border-radius: 5px;
		border: 1px solid;
		border-color: #E5E5E5;
		background-color: #ffffff;
		text-align: left;
	}
	.university_profile_contact_element
	{
		display: inline-block;
		position: relative;
		top: 15px;
		width: 45%;
		padding-left: 10px;
		text-align: left;
		font-size: 12px;
		font-weight: lighter;
	}
/**************************************

  			Uni list resuts 

***************************************/
.universityResultsDescription {
	margin-top: 20px;
}

.results_top_head {
	margin-top: 30px;
	position: relative;
	width: auto;
}

.uni_results {
	border-bottom-color: #204AA1;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-color: #204AA1;
	border-left-style: solid;
	border-left-width: 4px;
	border-right-color: #204AA1;
	border-right-style: solid;
	border-right-width: 4px;
	border-top-color: #204AA1;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-style: solid;
	border-top-width: 4px;
	position: relative;
	margin-top: 100px;
}

.uni_listing {
	height: auto;
	overflow: scroll;
	padding: 20px 20px 20px 20px;
	margin: auto;
	position: relative;
	width: 100%;
}

table.uni_listing {
	table-layout: auto;
	table-width: 100%;
}

.uni_result_icon {
	background-color: #EBEBEB;
	height: 40px;
	width: 40px;
}

tr.head_row {
	height: 60px;
}

th,td {
	overflow: hidden;
}

th.core_info,td.core_info {
	background-color: #CAD6E8;
	font-weight: thin;
	padding-left: 5px;
	line-height: 22px;
	text-align: left;
}

td.core_info_clickable {
	background-color: #CAD6E8;
	font-weight: thin;
	padding-left: 5px;
	line-height: 22px;
	text-align: left;
}

td.core_info_clickable:hover {
	text-decoration: none;
}

tr.uniResultRow>td.hover {
	background-color: #E3E3E3;
	cursor: pointer;
}

.core_info_clickable span {
	left: 15px;
}

th.stat_info,td.stat_info {
	background-color: #EBEBEB;
	height: 50px;
	text-align: center;
	width: 30px;
}

.top_table_rating {
	border-bottom-color: #204AA1;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-color: #204AA1;
	border-left-style: solid;
	border-left-width: 4px;
	border-right-color: #204AA1;
	border-right-style: solid;
	border-right-width: 4px;
	border-top-color: #204AA1;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 4px;
	float: right;
	position: relative;
}

th.heading_rating {
	background-color: #CAD6E8;
	font-weight: bold;
	text-align: left;
	width:
}

.uni_hard_rating_results td {
	background-color: #EBEBEB;
}

/***************************************************************************************
*				Alert msg
****************************************************************************************/
.alert_messages_box {
	margin-bottom: 20px;
}

.alertMsgBox {
	border: solid 1px;
}

.alertMsgBox.info {
	background-color: #CFE0CC;
	border-color: #8AB882;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
	margin-left: 10px;
}

.alertMsgBox.warning {
	background-color: #EBCC9B;
	border-color: #E8792E;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
}

.alertMsgBox.err {
	background-color: #F5B0B0;
	border-color: #FA5050;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
}

.alertMsgIcon {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 40px;
	vertical-align: middle;
}

.alertMsgIcon img {
	height: 30px;
	width: 30px;
}

.alertMsgContent {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}

.form_error {
	background-color: #F5B0B0;
	border-color: #FA5050;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
	height: auto;
	line-height: 20px;
	margin-bottom: 15px;
	padding: 15px;
	vertical-align: middle;
	width: auto;
}

li.error {
	line-height: 20px;
	vertical-align: middle;
}

.error img {
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	width: 20px;
}

#error_signup {
	background-color: #F5B0B0;
	border-color: #FA5050;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
	height: auto;
	line-height: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px;
	vertical-align: middle;
	width: auto;
}

.tooltip {
	height: auto;
	width: 100%;
}

.tooltip_content {
	position: absolute;
	max-height: 400px;
	z-index: 999;
}

#helphomemainbutton1,#helphomemainbutton2,#helphomemainbutton3 {
	height: auto;
	width: 300px;
}

.arrow_box * {
	color: #f1f1f1;
	font-size: small;
}

.arrow_box {
	position: relative;
	background: #000000;
	border: 3px solid #000000;
	opacity: 0.9;
	padding: 5px;
}

.arrow_box.top:after,.arrow_box.top:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box.top:after {
	border-color: rgba(145, 145, 145, 0);
	border-bottom-color: #000000;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}

.arrow_box.top:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #000000;
	border-width: 11px;
	left: 50%;
	margin-left: -11px;
}

.arrow_box.bottom:after,.arrow_box.bottom:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box.bottom:after {
	border-color: rgba(145, 145, 145, 0);
	border-top-color: #000000;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}

.arrow_box.bottom:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #000000;
	border-width: 11px;
	left: 50%;
	margin-left: -11px;
}

.home_top_ad {
	width: 720px;
	margin: auto;
}

/***************************************************************************************
*				Quickfind
****************************************************************************************/

.quickfind_bar
{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	
	height: 25px;
	width: 300px;
	top: 4px;
	
	border: solid 1px #DBDBDB;
	border-radius: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 9px;
	padding-right: 9px;
	
	font-size: 15px;
	font-family: Helvetica;
	font-weight: lighter;
	background-color: #FFFFFF;
	
	outline: none;
}

.quickfind_bar:focus {
	outline: none;
    box-shadow: 0 0 3px #9ecaed;
    border-color: #204AA1;
}

.quickfind_tool
{
	background: url("../images/icon/searchtool.png") no-repeat;
	background-color:#FFFFFF;
	background-size: 100%;
	color: transparent;
	position: absolute;
	right: 5px;
	top: 7px;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	width: 18px;
	border: 0px;
}

.UniProfSearchAutoComplete {
	width: auto;
}

#query.autocomplete.universityautocomplete {
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 9px;
	padding-right: 9px;
	margin-top: 20px;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 20px;
	maxlength: 150;
	height: 40px;
	width: 300px;
}

.autocomplete-suggestions {
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
	border-radius: 3px;
	font-family: Helvetica;
	font-size: 15px;
	font-weight: lighter;
	height: auto;
	max-height: 200px;
	width: 300px;
	background-color: #ffffff;
	overflow-y: auto;
	box-sizing: border-box;
}

.autocomplete-suggestion
{
	padding: 5px;
}

.autocomplete-suggestion.autocomplete-selected:hover,.autocomplete-suggestion:hover
{
	cursor: pointer;
	
	background-color: #E5E5E5;
}

.autocomplete-suggestion strong,.autocomplete-suggestion strong:hover,.autocomplete-suggestion.autocomplete-selected strong
{
	color: #204AA1;
	font-weight: bold;
}

.autocomplete-suggestion div
{
	display: inline-block;
	vertical-align: middle;
}

.autoCompleteSuggestionImg
{
	height: 18px;
	line-height: 18px;
	width: 18px;
	background-size: 100% !important;
	margin-right: 10px;
}

.autoCompleteSuggestionImg.university
{
	background: url("../images/icon/universityfacade.png");
}

.autoCompleteSuggestionImg.course
{
	background: url("../images/icon/courses.png");
}

.autoCompleteSuggestionImg.professor
{
	background: url("../images/icon/professor_quality.png");
}
/***************************************************************************************
*				Homepage
****************************************************************************************/
.home_image_bg
{
	position: relative;
	display: block;
	top: -25px;
	width: 100%;
}

.home_splitter_circle
{
    position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	margin-top: -100px;
}

.home_splitter_bar
{
    position: relative;
	display: inline-block;
	height: 100px;
	width: 100%;
}

.home_splitter_container
{
	position: absolute;
	height: 100px;
	width: 100%;
	margin-top: -70px;
	margin-bottom: 20px;
	text-align: center;
}

.mainInfoGuide {
	padding:40px 30px 10px 30px;
}

.mainInfoGuide div {
	display:inline-block;
}

.mainInfoGuide h1 {
	margin-bottom:10px;
}

.home_guide_content
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*********  HOME PAGE STUDENT EXAMPLE BOX  **********/

.student_example {
	border-radius: 5px;
	border: 1px solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	display:inline-block;
	height: 150px;
	margin-left:60%;
	position: relative;
	width: 500px;
}

.image-student {
	display:inline-block;
	height:150px;
	width:150px;
}

.image-student img {
	height:150px;
	width:150px;
}

.text-student {
	display:inline-block;
	position:absolute;
	right:20px;
	top:20px;
}

.content-info-start {
	display:inline-block;
	word-wrap:break-word;
	width:500px;
}

p.big-type span {
	font-weight:normal;
	font-size:16px;
	font-family:Helvetica;
	
}

.quote-student {
	word-wrap:break-word;
	width:300px;
}

.quote-student span {
	font-size:14px;
}
.getStartedHome {
	height:40px;
	position:absolute;
	right:4%;
	top:30%;
}

.get-started-bt {
/* 	background-image: -webkit-linear-gradient(top, #8ADD6D, #60B044); */
	background: #3259ab; 
	background: -moz-linear-gradient( top, #3259ab 0%, #4e74c7 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #3259ab), color-stop( 100%, #4e74c7)); 
	background: -webkit-linear-gradient( top, #3259ab 0%, #4e74c7 100%); 
	background: -o-linear-gradient( top, #3259ab 0%, #4e74c7 100%); 
	background: -ms-linear-gradient( top, #3259ab 0%, #4e74c7 100%); 
	background: linear-gradient( to bottom, #3259ab 0%, #4e74c7 100%); 
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr = '#3259ab', endColorstr = '#4e74c7', GradientType = 0); 
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow:3px 3px 3px #4F4F4F;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block; 
	font-family:Helvetica; 
	font-size: 24px; 
	font-weight: 100; 
	height: 100%;
	line-height:35px;
	padding:5px 8px 5px 8px;
	position: relative;
	text-align: center;
	width: auto;
}

.get-started-bt:hover {
	/* 	background-image: -webkit-linear-gradient(top, #7FCC64, #579E3E); GREEN*/
	background-image: -webkit-linear-gradient(top, #2C4E96, #4566B0);
}

.get-started-bt:active {
	/* 	background-image: -webkit-linear-gradient(top, #72BA59, #4E8F38); GREEN*/
	background-image: -webkit-linear-gradient(top, #274687, #4566B0);
}
.home-bt-ct {
	border-top: 1px solid #DDD;
	padding:10px 30px 0px 30px;
}

.main-graph {
	background-color:#FFFFFF;
	border-top: 1px solid #DDD;
	margin-top:20px;
}

.home_guide_content
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/***************************************************************************************
*				Signup
****************************************************************************************/
.signup_frame
{
	color: #4F4D4D;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #FFFFFF;
}

.signup_element_container
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
}

.signup_text_element
{
	display:inline-block;
	margin-top: 7px;
	width: 20%;
	font-weight: lighter;
}

.signup_form_element
{
	color: #4F4D4D;
	position: absolute;
	display: inline-block;
	width: 65%;
	top: 0px;
	right: 5px;
	
	height: 100%;
	
	outline: none;
	
	border: solid 1px #DBDBDB;
	border-radius: 3px;
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 9px;
	padding-right: 9px;
}

.signup_form_element:focus
{
	outline: none;
    box-shadow: 0 0 3px #9ecaed;
    border-color: #204AA1;
}

.signup_error_text
{
	color: #4F4D4D;
	position: relative;
	display: inline-block;
	width: 99%;
	height: 20px;
	text-align: right;
	font-weight: lighter;
}

.signup_spacer
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 5px;
}

.signup_spacer_big
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 20px;
}

.signup_tac
{
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
	margin-top:10px;
}

.signup_tac_link
{
	color: #204AA1;
}

.signup_tac_link a
{
	color: #204AA1;
	text-transform: lowercase;
}

.signup_tac_link:hover
{
	text-decoration: underline;
}

.signup_login_link a
{
	color: #204AA1;
}

.signup_login_link:hover
{
	text-decoration: underline;
}

.signup_submit
{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.signup_head_message
{
	font-size: 30px;
	width: 100%;
	text-align: center;
}
/***************************************************************************************
*				login
****************************************************************************************/
.login_frame
{
	color: #4F4D4D;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #FFFFFF;
}

.login_element_container
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
	text-align: center;
}

.login_error_text
{
	color: #4F4D4D;
	position: relative;
	display: inline-block;
	width: 99%;
	height: 20px;
	text-align: center;
	font-weight: lighter;
}

.login_spacer
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 5px;
}

.login_spacer_big
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 20px;
}

.login_tac
{
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
}

.login_tac_link
{
	color: #204AA1;
}

.login_tac_link a
{
	color: #204AA1;
	text-transform: lowercase;
}

.login_tac_link:hover
{
	text-decoration: underline;
}

.login_login_link a
{
	color: #204AA1;
}

.login_login_link:hover
{
	text-decoration: underline;
}

.login_submit
{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.login_head_message
{
	font-size: 30px;
	width: 100%;
	text-align: center;
}
/***************************************************************************************
*				forgot password
****************************************************************************************/
.forgetful_frame
{
	color: #4F4D4D;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #FFFFFF;
}

.forgetful_element_container
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
	text-align: center;
}

.forgetful_error_text
{
	color: #4F4D4D;
	position: relative;
	display: inline-block;
	width: 99%;
	height: 20px;
	text-align: center;
	font-weight: lighter;
}

.forgetful_spacer
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 5px;
}

.forgetful_spacer_big
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 20px;
}

.forgetful_submit
{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.forgetful_head_message
{
	font-size: 30px;
	width: 100%;
	text-align: center;
}

/*FOR ALL INPUT BARS*/
.input-element {
	color: #4F4D4D;
	position: relative;
	display: inline-block;
	height: 30px;
	outline: none;
	border: solid 1px #DBDBDB;
	border-radius: 3px;
	padding:0 9px 0 9px;
}

.signup-input {
	display:inline-block;
	width:65%;
}

.login-input {
	width:70%;
}

.input-element:focus {
	outline: none;
    box-shadow: 0 0 3px #9ECAED;
    border-color: #204AA1;
}
/***************************************************************************************
*				preferences for search system
****************************************************************************************/
.preferences_cycler
{
    border-radius: 3px;
    border: 1px solid;
    padding: 2px;
}
.preferences_default
{
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0.5);
}
.preferences_like
{
    background-color: rgba(0,0,255,0.5);
    border: 1px solid rgba(0,0,255,0.5);
}
.preferences_dislike
{
    background-color: rgba(255,0,0,0.5);
    border: 1px solid rgba(255,0,0,0.5);
}
