@charset "utf-8";

/*-----------------------------

	For ALL types 

-------------------------------*/
* {
	margin: 0;
	padding: 0;
	font-weight: 200;
	color: #4F4D4D;
	list-style: none;
	text-decoration: none;
	overflow: visible;
	font-family: Helvetica;
}

html,body {
	background-color: #EDF1F5;
	/* 	background-image:url("../images/background/bg.jpg"); */
	margin: 0;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

#container {
	min-height: 100%;
	position: relative;
}

#content {
	margin: auto;
	padding-top: 60px;
	padding-bottom: 40px;
	overflow-y: auto;
}

#content.content_margin {
	width: 980px;
}

.front-image {
	position: absolute;
	border: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

b {
	font-weight: bold;
}

h1 {
	font-size: 30px;
	font-weight: bold;
}

h1 span {
	font-size: 30px;
	font-weight: bold;
}

/*-----------------------------

	      LOGO

-------------------------------*/
.logo_container {
	background-color: transparent;
	height: auto;
	position: relative;
	margin: auto;
	width: 550px;
}

.logo {
	background-color: transparent;
	height: 210px;
	margin-left: 0px;
	position: relative;
	margin-top: 0px;
	width: 550px;
}

.logo:hover {
	cursor: pointer;
}

/*-------------------------------

		Navigation
		
---------------------------------*/
.navLogo {
	display: inline-block;
	height: 25px;
	width: 25px;
}

.headerNav {
	background-color: #E8E8E8;
	border-bottom: 1px solid #DBDBDB;
	height: 25px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	min-width: 980px;
	z-index: 1;
}

.headerNav ul li,.headerNav ul li a:link,.headerNav ul li a:visited {
	display: inline;
	text-decoration: none;
}

#navLfLinks {
	display: inline-block;
	height: 25px;
	position: relative;
	margin-left: 20px;
	vertical-align: middle;
	position: relative;
}

#navLogo {
	display: inline-block;
	line-height: 20px;
	margin-left: 15px;
	position: relative;
	top: 4px;
}

#navLfLinks a {
	color: #444444;
	text-decoration: none;
	width: 100%;
}

#navLfLinks a:hover {
	color: #204AA1;
}

.navRightBtns {
	display: inline-block;
	position: relative;
	margin-top: 0px;
	height: 20px;
	line-height: 20px;
	padding-top: 0px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
	width: auto;
}

/*-------------------------------

	   PAGE FOOTER 

---------------------------------*/
.footer_frame {
	border-top: 1px solid #DBDBDB;
	text-align: center;
	height: auto;
	left: 0;
	min-width: 980px;
	width: 100%;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(#ffffff, #f9f9f9);
	background-image: -webkit-linear-gradient(#ffffff, #f9f9f9);
	background-image: linear-gradient(#ffffff, #f9f9f9)
}

.footer_frame a:link,.footer_content a:visited {
	text-decoration: none;
	color: #4F4D4D;
	font-size: 12px;
	font-weight: normal;
	font-family: Helvetica;
}

.footer_frame a:hover {
	text-decoration: underline;
}

.footer_content {
	font-weight: lighter;
}

.footer_spacer {
	display: inline-block;
	width: 5px;
}

/*--------------------------------

	buttons SIGN UP LOGIN 

------------------------------------*/
.btn_sign_up {
	background-color: transparent;
	display: inline-block;
	position: relative;
	left: 0px;
	top: 0px;
}

.btn_sign_up_text {
	background: #f081ad; /* Old browsers */
	background: -moz-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f081ad),
		color-stop(100%, #e91760) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #f081ad 0%, #e91760 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(    
		                                        startColorstr='#f081ad',
		endColorstr='#e91760', GradientType=0 );
	/* IE6-9 */
	border-bottom-color: #AB3C68;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #AB3C68;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #AB3C68;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #AB3C68;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", "Arial";
	font-size: 18px;
	font-style: normal;
	font-weight: thin;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	min-width: 70px;
	word-spacing: 2px;
}

.btn_sign_up_text:hover {
	background: #e91760; /* Old browsers */
	background: -moz-linear-gradient(top, #e91760 0%, #f081ad 72%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e91760),
		color-stop(72%, #f081ad) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e91760 0%, #f081ad 72%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e91760 0%, #f081ad 72%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e91760 0%, #f081ad 72%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e91760 0%, #f081ad 72%);
	/* W3C */
}

.btn_sign_up_text:active {
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background: #f081ad; /* Old browsers */
	background: -moz-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f081ad),
		color-stop(100%, #e91760) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f081ad 0%, #e91760 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #f081ad 0%, #e91760 100%);
	/* W3C */
}

.btn_log_in {
	display: inline-block;
	position: relative;
	left: 0px;
	top: 0px;
}

.btn_log_in_text {
	background-color: #000000;
	background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #e6e6e6) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
	/* W3C */
	/* IE6-9 */
	background-origin: padding-box;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #CCCCCC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	color: #444444;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Arial;
	font-size: 18px;
	font-style: normal;
	font-weight: thin;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	min-width: 70px;
	word-spacing: 2px;
}

.nav_spacer {
	display: inline-block;
	width: 5px;
}

.nav_login_text {
	position: relative;
	font-size: 14;
	font-weight: lighter;
}

.nav_logout_text {
	position: relative;
	font-size: 14;
	font-weight: lighter;
}

.nav_signup_text {
	position: relative;
	font-size: 14;
	font-weight: lighter;
}

.nav_left_side {
	display: inline-block;
	position: absolute;
	left: 40px;
}

.nav_middle {
	display: inline-block;
	position: relative;
	top: -5px;
}

.nav_right_side {
	display: inline-block;
	position: absolute;
	right: 5px;
}

.nav_frame {
	position: fixed;
	width: 100%;
	top: 0;
	height: 30px;
	border-bottom: 1px solid;
	border-color: #dbdbdb;
	padding-top: 10px;
	z-index: 999;
	background-color: #ffffff;
	background-image: -moz-linear-gradient(#f9f9f9, #ffffff);
	background-image: -webkit-linear-gradient(#f9f9f9, #ffffff);
	background-image: linear-gradient(#f9f9f9, #ffffff)
}

.nav_logo {
	position: absolute;
	/* color: #204AA1;
	font-family: Verdana;
	font-size: 16;
	font-weight: 600; */
	height: 25px;
	width: 25px;
	top: 7px;
	left: 7px;
}

.nav_links {
	position: relative;
	font-size: 14;
	font-weight: lighter;
}

.btn_log_in_text:hover {
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background-color: #000000;
	background: -moz-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6),
		color-stop(100%, #ffffff) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e6e6e6 0%, #ffffff 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e6e6e6 0%, #ffffff 100%);
	/* W3C */
}

.btn_log_in_text:active {
	
}

/*-----------------------------

	terms and conditions 

-------------------------------*/
#container_terms {
	background-color: #FFF;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	font-size: 13px;
	height: 470px;
	line-height: 18px;
	margin: auto;
	overflow: scroll;
	padding: 10px 15px 10px 15px;
	position: relative;
	text-align: justify;
	word-spacing: 0.3em;
}

#container_terms h1 {
	width: 100%;
	font-size: 25px;
	top: 40px;
	font-weight: bold;
	border-bottom: 1px dotted;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*--- TEST POPUP SIGN UP ------*/
#lean_overlay {
	position: fixed;
	z-index: 10000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

/*---------------------------------------

	SIGN UP 

-----------------------------------------*/
.signup_container {
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#signup {
	width: 404px;
	padding-bottom: 2px;
	display: none;
	background: #FFF;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
}

#signup_ct {
	width: 404px;
	padding-bottom: 2px;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#signup_header,#login_header {
	background-color: #DBDBDB;
	padding: 18px 18px 14px 18px;
	border-bottom: 1px solid #CCC;
	/*border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;*/
}

#signup_header  h2,#login_header  h2 {
	color: #444;
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 3px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #DBDBDB;
}

#signup_header  p,#login_header  p {
	color: #444;
	font-size: 1.3em;
	margin: 0;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: none;
	background-color: #DBDBDB;
}

#signup .txt_fld {
	position: relative;
	width: 364px;
	padding: 14px 20px;
	border-bottom: 1px solid #EEE;
	text-align: right;
}

#signup .btn_fld {
	width: 400px;
	padding: 12px 0 0 0;
	display: inline-block;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#signup .txt_fld label {
	display: block;
	float: left;
	width: 90px;
	padding-top: 8px;
	color: #222;
	font-size: 1.3em;
	text-align: left;
}

ul.tabs {
	width: 100%;
	height: 40px;
}

ul.tabs>li {
	display: inline-block;
	height: 40px;
	width: 200px;
}

ul.tabs>li>a {
	display: block;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.tabs li {
	background-color: #C9C9C9;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	line-height: 15px;
	opacity: 0.7;
	text-align: center;
}

.tabs li:hover {
	background-color: #949494;
	opacity: 0.9
}

.tabs li.currentTab {
	background-color: #DBDBDB;
	border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	opacity: 1;
}

/*--------------------

Button Sign UP Form

---------------------*/
div.btn_sign_up_form {
	width: 150px;
	margin: auto;
}

div.btn_sign_up_form input {
	display: inline-block;
	position: relative;
	top: 0px;
	right: 10px;
	background: #2b4f80; /* Old browsers */ background :
	-moz-linear-gradient( top, #2b4f80 0%, #3b6fb4 100%); /* FF3.6+ */
	background : -webkit-gradient( linear, left top, left bottom,
	color-stop( 0%, #2b4f80), color-stop( 100%, #3b6fb4));
	/* Chrome,Safari4+ */ background : -webkit-linear-gradient( top,
	#2b4f80 0%, #3b6fb4 100%); /* Chrome10+,Safari5.1+ */ background :
	-o-linear-gradient( top, #2b4f80 0%, #3b6fb4 100%); /* Opera 11.10+ */
	background : -ms-linear-gradient( top, #2b4f80 0%, #3b6fb4 100%);
	/* IE10+ */ background : linear-gradient( to bottom, #2b4f80 0%,
	#3b6fb4 100%); /* W3C */ filter : progid :
	DXImageTransform.Microsoft.gradient (   startColorstr = '#2b4f80',
	endColorstr = '#3b6fb4', GradientType = 0); /* IE6-9 */
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: thin;
	height: 40px;
	line-height: 18px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	text-align: center;
	text-decoration: none;
	word-spacing: 2px;
}

.btn_sign_up_text_form:hover {
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background-color: rgba(0, 0, 0, 0);
	background: #e91760; /* Old browsers */
	background: -moz-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e91760),
		color-stop(100%, #f081ad) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e91760 0%, #f081ad 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(    
		                                        startColorstr='#e91760',
		endColorstr='#f081ad', GradientType=0 );
	/* IE6-9 */
}

.btn_sign_up_text_form:active {
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background-color: rgba(0, 0, 0, 0);
	background: #e91760; /* Old browsers */
	background: -moz-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e91760),
		color-stop(100%, #f081ad) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e91760 0%, #f081ad 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e91760 0%, #f081ad 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(    
		                                        startColorstr='#e91760',
		endColorstr='#f081ad', GradientType=0 );
	/* IE6-9 */
}

/*---------------------------

	SIGN UP FOOTER

-----------------------------*/
.signup_footer {
	padding-left: 10px;
	height: 50px;
	width: 250px;
	position: relative;
	float: left;
	display: inline-block;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.signup_footer a {
	text-decoration: underline;
	background-color: #FFFFFF;
}

/*-------------------------------

     Floating Nav University Search

----------------------------------*/
.container_float_nav {
	background-color: #E0E0E0;
	height: 40px;
	position: absolute;
	left: 0;
	padding-top: 15px;
	right: 0;
	top: 50px;
	width: 100%;
	z-index: 1;
}

.container_float_nav ul,.container_float_nav li,.container_float_nav a {
	background-color: #E0E0E0;
}

.container_float_nav li {
	display: inline-block;
}

#university_search_bar {
	background-color: #E0E0E0;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue";
	font-weight: thin;
}

/**********************************************************************
							TO DO 
**********************************************************************/
.top_filter_heading {
	position: relative;
	margin-bottom: 40px;
	width: 100%;
}

#FilterStep1 { /* 	float: left; */
	
}

#FilterStep2 {
	float: right;
	padding-left: 25px;
	border-left: 1px solid #E5E5E5;
}

/*bouton quand on click sur les hard criteria*/
.FilterCategories {
	float: left;
	margin-top: 20px;
	width: 450px;
}

.FilterCategoriesButton {
	margin-bottom: 30px;
}

.FilterCategoryButton {
	background-color: #EDF1F5;
	border: none;
	display: inline-block;
	height: 100px;
	margin: 10px 30px 10px 30px;
	width: auto;
}

.right_side_container {
	display: inline-block;
	float: right;
}

.FilterCategoryButton:hover {
	cursor: pointer;
}

.SelectListElementLine {
	width: 100%;
}

.fees_content {
	margin: 20px 20px 20px 20px;
}

.fees_input {
	width: 50px;
}

#general-fees-range {
	margin-top: 10px;
}

.FilterElement {
	display: inline-block;
	font-size: 12px;
	height: 12px;
	margin: auto;
	vertical-align: center;
	width: 130px;
}

.FilterElementButton {
	height: 100%;
	text-align: left;
	width: 100%;
}

.FilterElementButton:hover>span {
	cursor: pointer;
	text-decoration: underline;
	color: #204AA1;
}

.FilterElementButton.selected>span {
	font-weight: 700;
	color: #204AA1;
}

.FilterSubElementBox {
	background-color: white;
	padding: 10px 20px 10px 20px;
	box-shadow: inset 0 4px 4px -4px #696868, inset 0 -4px 4px -4px #696868;
}

.FilterSystem {
	margin-bottom: 50px;
	margin-top: 20px;
	height: auto;
	position: relative;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

h2.step {
	font-size: 18px;
	font-weight: bold;
}

.filter_icon_title {
	margin-top: 10px;
	text-align: center;
}

.SoftRatingElement {
	margin-bottom: 14px;
	width: 100%;
}

.FilterCategoryButtonImage {
	width: 80px;
	height: 80px;
	margin: auto;
}

.SoftFilterCategory {
	float: right;
	margin-top: 20px;
	width: 500px;
}

.SoftRatingOption:hover,.clearOption:hover,.FilterCategoryButtonImage:hover
	{
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity =         70);
}

.SoftRatingOption:active,.clearOption:active {
	opacity: 0.9
}

.clearOption,.SoftRatingOption {
	border: transparent solid 3px;
}

.clearOption.optionSelected,ul.factRatings .SoftRatingOption.optionSelected
	{
	border: 3px solid #E91760;
	-moz-border: 3px solid #E91760;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	-moz-border-bottom-right-radius: 8px;
}

ul.userRatings .SoftRatingOption.optionSelected {
	-moz-border-bottom-color: #E91760;
	border-bottom-color: #E91760;
	-moz-border-bottom-left-radius: 35px;
	border-bottom-left-radius: 35px;
	-moz-border-bottom-right-radius: 35px;
	border-bottom-right-radius: 35px;
	border-bottom-style: solid;
	-moz-border-bottom-style: solid;
	border-bottom-width: 3px;
	-moz-border-bottom-width: 3px;
	border-left-color: #E91760;
	-moz-border-left-color: #E91760;
	border-left-style: solid;
	-moz-border-left-style: solid;
	border-left-width: 3px;
	-moz-border-left-width: 3px;
	border-right-color: #E91760;
	-moz-border-right-color: #E91760;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-color: #E91760;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	border-top-style: solid;
	border-top-width: 3px;
}

.SoftRatingName,.SoftRatingDefaultOption,.SoftRatingOptions,.SoftRatingOption
	{
	display: inline-block;
	opacity: 1;
	filter: alpha(opacity =                               100);
}

.SoftRatingOptions {
	height: 46px;
	line-height: 46px;
	vertical-align: middle;
	width: 300px;
}

.SoftRatingOptions_container {
	display: inline-block;
	line-height: 46px;
	vertical-align: middle;
	width: auto;
}

.SoftRatingName {
	line-height: 46px;
	vertical-align: middle;
	width: 200px
}

.SoftRatingDefaultOption {
	line-height: 46px;
	vertical-align: middle;
}

ul.softratings {
	background-color: #EDF1F5;
	width: 600px;
}

hr.official-standard-ratings-separation {
	border: 1px solid #E5E5E5;
	margin-top: 15px;
	margin-bottom: 15px;
}

.FilterCategoriesContent {
	background-color: #EDF1F5;
	overflow: hidden;
	height: auto;
	margin-bottom: 20px;
	width: auto;
}

.FilterCategoryContentToggleDisplayContent.hidden {
	background-color: #FFF;
}

.FilterCategoryContent {
	height: auto;
	margin: 10px 0 10px 0;
	width: auto;
}

.SelectListElementLine {
	margin: 0 20px 0 20px;
}

.submitFilter {
	background-color: #FFFFFF;
	display: block;
	margin-bottom: 50px;
	position: relative;
	width: 300px;
	margin: auto;
	margin-top: 100px;
}

.submitFilter_text {
	-webkit-box-shadow: #DDDDDD 0px 0px 1px 0px;
	background: #3259ab; /* Old browsers */
	background: -moz-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3259ab),
		color-stop(100%, #4a68a8) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #3259ab 0%, #4a68a8 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(    
		                                        startColorstr='#3259ab',
		endColorstr='#4a68a8', GradientType=0 );
	/* IE6-9 */
	background-image: -moz-linear-gradient(0deg, #3259AB, #4A68A8 50%);
	-moz-border-bottom-color: #204AA1;
	border-bottom-color: #204AA1;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	-moz-border-bottom-style: solid;
	border-bottom-width: 1px;
	-moz-border-bottom-width: 1px;
	border-left-color: #204AA1;
	-moz-border-left-color: #204AA1;
	border-left-style: solid;
	-moz-border-left-style: solid;
	border-left-width: 1px;
	-moz-border-left-width: 1px;
	border-right-color: #204AA1;
	-moz-border-right-color: #204AA1;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #204AA1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue", Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: thin;
	height: 30px;
	padding-bottom: 5px;
	padding-top: 12px;
	text-align: center;
	text-decoration: none;
	width: 100%;
	word-spacing: 2px;
}

.submitFilter_text:hover {
	background: #4a68a8; /* Old browsers */
	background: -moz-linear-gradient(top, #4a68a8 0%, #3259ab 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a68a8),
		color-stop(100%, #3259ab) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4a68a8 0%, #3259ab 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4a68a8 0%, #3259ab 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4a68a8 0%, #3259ab 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #4a68a8 0%, #3259ab 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(    
		                                        startColorstr='#4a68a8',
		endColorstr='#3259ab', GradientType=0 );
	/* IE6-9 */
}

.submitFilter_text:active {
	background: #3259ab; /* Old browsers */
	background: -moz-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3259ab),
		color-stop(100%, #4a68a8) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3259ab 0%, #4a68a8 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #3259ab 0%, #4a68a8 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(    
		                                        startColorstr='#3259ab',
		endColorstr='#4a68a8', GradientType=0 );
	/* IE6-9 */
}
/**************************************

  			NEW UNI PAGE
  			pls go

***************************************/
/* ########################################## */
/* TOP BOX SECTION */
/* ########################################## */
.university_profile_top_box {
	position: relative;
	top: 6px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 150px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #E5E5E5;
	background-color: #ffffff;
}

.university_profile_image_box {
	position: absolute;
	left: 0px;
	height: 150px;
	width: 300px;
}

.university_profile_image {
	width: 300px;
	height: 150px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.university_profile_top_text_box {
	position: relative;
	left: 310px; /* must be the same width as picture + 10 */
	height: 100%;
}

.university_profile_top_text_name {
	font-size: 35px;
	font-weight: lighter;
	position: relative;
	top: 0px;
}

.university_profile_top_text_location {
	font-size: 20px;
	font-weight: lighter;
}

.university_profile_top_lower_text {
	text-align: left;
	position: absolute;
	left: 0px;
	bottom: 5px;
}

.university_profile_top_text_est {
	font-size: 14px;
	font-weight: lighter;
}
/* ########################################## */
/* BOX SECTION */
/* ########################################## */
.university_profile_box_spacer {
	height: 15px;
}

.university_profile_box_spacer_top {
	height: 21px;
}

.university_profile_box_title {
	text-align: center;
	font-size: 32px;
	font-weight: lighter;
}
/* ########################################## */
/* RANK SECTION */
/* ########################################## */
.university_profile_rank_box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 20px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #E5E5E5;
	background-color: #ffffff;
	text-align: center;
}

.university_profile_rank_element {
	display: inline-block;
	position: relative;
	top: 15px;
	width: 100px;
}

.university_profile_rank_element_icon {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 75px;
	height: 75px;
}

.university_profile_rank_element_rank {
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}

.university_profile_rank_element_date {
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
}
/* ########################################## */
/* STUDENT STATISTICS SECTION */
/* ########################################## */
.university_profile_student_stats_box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 20px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #E5E5E5;
	background-color: #ffffff;
	text-align: center;
}

.university_profile_student_stats_element {
	display: inline-block;
	position: relative;
	top: 15px;
	width: 100px;
}

.university_profile_student_stats_element_icon {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 75px;
	height: 75px;
}

.university_profile_student_stats_element_stat {
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}

.university_profile_student_stats_element_name {
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
}
/* ########################################## */
/* REPUTATION SECTION */
/* ########################################## */
.university_profile_reputation_box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 20px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #E5E5E5;
	background-color: #ffffff;
	text-align: center;
}

.university_profile_reputation_element {
	display: inline-block;
	position: relative;
	top: 15px;
	width: 100px;
}

.university_profile_reputation_element_icon {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 75px;
	height: 75px;
}

.university_profile_reputation_element_name {
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
}
/* ########################################## */
/* RELEVANT WIKI SECTION */
/* ########################################## */
.university_profile_relevant_wiki_box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 20px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #E5E5E5;
	background-color: #ffffff;
	text-align: left;
}

.university_profile_relevant_wiki_element {
	display: inline-block;
	position: relative;
	top: 15px;
	width: 45%;
	padding-left: 10px;
	text-align: left;
	font-size: 12px;
	font-weight: lighter;
}
/* ########################################## */
/* CONTACT SECTION */
/* ########################################## */
.university_profile_contact_box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 20px;
	border-radius: 5px;
	border: 1px solid;
	border-color: #E5E5E5;
	background-color: #ffffff;
	text-align: left;
}

.university_profile_contact_element {
	display: inline-block;
	position: relative;
	top: 15px;
	width: 45%;
	padding-left: 10px;
	text-align: left;
	font-size: 12px;
	font-weight: lighter;
}
/**************************************

  			Uni list resuts 

***************************************/
.universityResultsDescription {
	margin-top: 20px;
}

.results_top_head {
	margin-top: 30px;
	position: relative;
	width: auto;
}

.uni_results {
	border-bottom-color: #204AA1;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-color: #204AA1;
	border-left-style: solid;
	border-left-width: 4px;
	border-right-color: #204AA1;
	border-right-style: solid;
	border-right-width: 4px;
	border-top-color: #204AA1;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-style: solid;
	border-top-width: 4px;
	position: relative;
	margin-top: 100px;
}

.uni_listing {
	height: auto;
	overflow: scroll;
	padding: 20px 20px 20px 20px;
	margin: auto;
	position: relative;
	width: 100%;
}

table.uni_listing {
	table-layout: auto;
	table-width: 100%;
}

.uni_result_icon {
	background-color: #EBEBEB;
	height: 40px;
	width: 40px;
}

tr.head_row {
	height: 60px;
}

th,td {
	overflow: hidden;
}

th.core_info,td.core_info {
	background-color: #CAD6E8;
	font-weight: thin;
	padding-left: 5px;
	line-height: 22px;
	text-align: left;
}

td.core_info_clickable {
	background-color: #CAD6E8;
	font-weight: thin;
	padding-left: 5px;
	line-height: 22px;
	text-align: left;
}

td.core_info_clickable:hover {
	text-decoration: none;
}

tr.uniResultRow>td.hover {
	background-color: #E3E3E3;
	cursor: pointer;
}

.core_info_clickable span {
	left: 15px;
}

th.stat_info,td.stat_info {
	background-color: #EBEBEB;
	height: 50px;
	text-align: center;
	width: 30px;
}

.top_table_rating {
	border-bottom-color: #204AA1;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-left-color: #204AA1;
	border-left-style: solid;
	border-left-width: 4px;
	border-right-color: #204AA1;
	border-right-style: solid;
	border-right-width: 4px;
	border-top-color: #204AA1;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 4px;
	float: right;
	position: relative;
}

th.heading_rating {
	background-color: #CAD6E8;
	font-weight: bold;
	text-align: left;
	width:
}

.uni_hard_rating_results td {
	background-color: #EBEBEB;
}

/***************************************************************************************
*				Alert msg
****************************************************************************************/
.alert_messages_box {
	margin-bottom: 20px;
}

.alertMsgBox {
	border: solid 1px;
}

.alertMsgBox.info {
	background-color: #CFE0CC;
	border-color: #8AB882;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
	margin-left: 10px;
}

.alertMsgBox.warning {
	background-color: #EBCC9B;
	border-color: #E8792E;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
}

.alertMsgBox.err {
	background-color: #F5B0B0;
	border-color: #FA5050;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
}

.alertMsgIcon {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	line-height: 40px;
	vertical-align: middle;
}

.alertMsgIcon img {
	height: 30px;
	width: 30px;
}

.alertMsgContent {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}

.form_error {
	background-color: #F5B0B0;
	border-color: #FA5050;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
	height: auto;
	line-height: 20px;
	margin-bottom: 15px;
	padding: 15px;
	vertical-align: middle;
	width: auto;
}

li.error {
	line-height: 20px;
	vertical-align: middle;
}

.error img {
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	width: 20px;
}

#error_signup {
	background-color: #F5B0B0;
	border-color: #FA5050;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-left-style: solid;
	border-left-width: 3px;
	border-right-style: solid;
	border-right-width: 3px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-style: solid;
	border-top-width: 3px;
	height: auto;
	line-height: 25px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px;
	vertical-align: middle;
	width: auto;
}

.tooltip {
	height: auto;
	width: 100%;
}

.tooltip_content {
	position: absolute;
	max-height: 400px;
	z-index: 999;
}

#helphomemainbutton1,#helphomemainbutton2,#helphomemainbutton3 {
	height: auto;
	width: 300px;
}

.arrow_box * {
	color: #f1f1f1;
	font-size: small;
}

.arrow_box {
	position: relative;
	background: #000000;
	border: 3px solid #000000;
	opacity: 0.9;
	padding: 5px;
}

.arrow_box.top:after,.arrow_box.top:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box.top:after {
	border-color: rgba(145, 145, 145, 0);
	border-bottom-color: #000000;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}

.arrow_box.top:before {
	border-color: rgba(204, 204, 204, 0);
	border-bottom-color: #000000;
	border-width: 11px;
	left: 50%;
	margin-left: -11px;
}

.arrow_box.bottom:after,.arrow_box.bottom:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box.bottom:after {
	border-color: rgba(145, 145, 145, 0);
	border-top-color: #000000;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}

.arrow_box.bottom:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #000000;
	border-width: 11px;
	left: 50%;
	margin-left: -11px;
}

.home_top_ad {
	width: 720px;
	margin: auto;
}

/***************************************************************************************
*				Quickfind
****************************************************************************************/
.quickfind_bar {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	width: 300px;
	top: 2px;
	border: solid 1px #DBDBDB;
	border-radius: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 9px;
	padding-right: 9px;
	font-size: 15px;
	font-family: Helvetica;
	font-style: thin;
	background-color: #FFFFFF;
	outline: none;
}

.quickfind_bar:focus {
	outline: none;
	box-shadow: 0 0 3px #9ecaed;
	border-color: #204AA1;
}

.quickfind_tool {
	background: url("../images/icon/searchtool.png") no-repeat;
	background-size: 100%;
	color: transparent;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	width: 18px;
	border: 0px;
}

.UniProfSearchAutoComplete {
	width: auto;
}

#query.autocomplete.universityautocomplete {
	display: inline-block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 9px;
	padding-right: 9px;
	margin-top: 20px;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: 20px;
	maxlength: 150;
	height: 40px;
	width: 300px;
}

.autocomplete-suggestions {
	border: 1px solid rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	font-family: Helvetica;
	font-size: 15px;
	font-weight: lighter;
	height: auto;
	max-height: 200px;
	width: 300px;
	background-color: #ffffff;
	overflow-y: auto;
	box-sizing: border-box;
}

.autocomplete-suggestion {
	padding: 5px;
}

.autocomplete-suggestion.autocomplete-selected:hover,.autocomplete-suggestion:hover
	{
	cursor: pointer;
	background-color: #E5E5E5;
}

.autocomplete-suggestion strong,.autocomplete-suggestion strong:hover,.autocomplete-suggestion.autocomplete-selected strong
	{
	color: #204AA1;
	font-weight: bold;
}

.autocomplete-suggestion div {
	display: inline-block;
	vertical-align: middle;
}

.autoCompleteSuggestionImg {
	height: 18px;
	line-height: 18px;
	width: 18px;
	background-size: 100% !important;
	margin-right: 10px;
}

.autoCompleteSuggestionImg.university {
	background: url("../images/icon/universityfacade.png");
}

.autoCompleteSuggestionImg.course {
	background: url("../images/icon/courses.png");
}

.autoCompleteSuggestionImg.professor {
	background: url("../images/icon/professor_quality.png");
}
/***************************************************************************************
*				Homepage
****************************************************************************************/
.home_image_bg {
	position: relative;
	top: -20px;
	width: 100%;
	margin-bottom: -40px;
}

.home_splitter {
	position: relative;
	top: -40px;
	width: 100%;
}

.home_black_fill {
	background-color: #000000;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}